.player-container{
    background-color: rgba(167, 165, 165, 0.734);
    align-items: center;
    width: 300px;
    margin-left: 450px;
    border: 2px solid rgba(0, 0, 0, 0.5); 
    border-radius: 2%;
}

.ocultar {
    display: none;
  }
    
  .btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    
    img {
     width: 32px;
     height: 32px;
     
    }
  }
#song-info {
  text-align: center; 
}
#song-subtitle {
  color:rgba(255, 255, 255, 0.734) ; 
  font-style: italic; 
  font-size: 13px; 
}
#song-title {
    color: rgba(255, 255, 255, 0.734); 
    font-style:normal; 
    font-size: 18px; 
  }

.controls {
    text-align: center; 
}
  
.controls .btn {
    display: inline-block; 
    margin: 10px;
}
  
.container {
  /* Define el borde con transparencia */
  padding: 10px; /* Ajusta el relleno según sea necesario */
}

.player-container {
  background-color: rgba(167, 165, 165, 0.734);
  align-items: center;
}
.song-text-container {
  background-color: rgb(0, 0, 0); /* Color de fondo con transparencia */
  border: 1px solid #000; /* Borde sólido */
  border-radius: 5px; /* Borde redondeado para un aspecto más suave */
  padding: 1px; /* Ajusta el relleno según sea necesario */
  display: inline-block; /* Para que el contenedor se ajuste al contenido */
}

.song-text-container h2,
.song-text-container h3 {
  margin: 1px 0; /* Ajusta el margen entre el título y el subtítulo */
}
